






.login-page .right-side{
    background-color: #E2F2FF;
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-page .right-side .login-form{
    display: flex;
    flex-direction: column; 
    background-color: #1564C1;
    height: 70vh;
    width: 30vw;
    padding: 30px;
    border-radius: 16px;
}

.login-page .right-side .login-form p{
   color: #E2F2FF !important;  
}

.login-page .right-side .login-form label{
    color: #E2F2FF !important;
    font-weight: 600;
    margin: 10px 0;
}

.login-page .right-side .login-form input{
    padding: 5px;
    border-radius: 12px;
    border: none !important;
    text-decoration: none !important;
    outline: none;
}

.login-page .right-side .login-form .login-btn{
  color: #1564C1 !important;
  background-color: #fff !important;
  width: 250px;
  margin: 30px 0 0 40px ;
}

.login-page .right-side .login-form .login-span{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    color: #E2F2FF !important; 
    cursor: pointer;
}


.row>* { 
    padding-right: 0.1px !important; 
}

/* signup page */


.signup-page .right-side{
    background-color: #E2F2FF;
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-page .right-side .signup-form{
    display: flex;
    flex-direction: column; 
    background-color: #1564C1;
    height: 80vh;
    width: 30vw;
    padding: 30px;
    border-radius: 16px;
} 

.signup-page .right-side .signup-form p{
    color: #E2F2FF !important;  
 }
 
 .signup-page .right-side .signup-form label{
     color: #E2F2FF !important;
     font-weight: 600;
     margin: 10px 0;
 }
 
 .signup-page .right-side .signup-form input{
     padding: 5px;
     border-radius: 12px;
     border: none !important;
     text-decoration: none !important;
     outline: none;
 }
 
 .signup-page .right-side .signup-form .login-btn{
   color: #1564C1 !important;
   background-color: #fff !important;
   width: 250px;
   margin: 30px 0 0 40px ;
 }
 
 .signup-page .right-side .signup-form .login-span{
     text-align: center;
     margin-top: 30px;
     font-weight: 600;
     color: #E2F2FF !important; 
     cursor: pointer;
 }
 
 .signup-btn{
    padding: 10px 50px;
    border-radius: 1px;
    font-weight: 600;
 }